.DS_Store
.AppleDouble
*.*~
*._*
*.swp
*.log
*.nc
*.png
prueba*
Prueba*
**/Info/*
Info/*
data/*
images/*
.ipynb_checkpoints/*
dask-worker-space/*
Mejoras/.ipynb_checkpoints/*
LimiteDemarcaciones/.ipynb_checkpoints
